.elements {
    text-align: center;
    display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
 flex-direction: column;
}

.header {
    font-size: 2.8rem;
    font-family: 650;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

.buttons {
    display: flex;
    flex-direction: row;
    margin-right: 1%;
}

.homepageButton {
    border: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 34px;
    padding-left: 34px;
    background-color: rgb(47, 47, 47);
    color: rgb(255, 255, 255);
   
    border-radius: 5px;
}

.loginButton {
    border: 0px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 34px;
    padding-left: 34px;
    background-color: rgb(26, 95, 243);
    color: white;
    margin-left: 20%;
    border-radius: 5px;
}

.elements button:hover {
    opacity: 0.7;
    transition: 0.3s;
    cursor: pointer;
}

.childHeader {
margin-top: -1%;
font-size: 1.2rem;
opacity: 0.7;
font-size: 500;
margin-bottom: 4%;
}

body {
    background-color: rgb(222, 222, 222);
}





@media only screen and (max-width: 600px) {

    .header {
    font-size: 1.9rem;
    margin-bottom: 13px;
    }

    .childHeader {
        font-size: 1rem;
        max-width: 80%;
    }
    
    .buttons button {
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 20px;
        padding-left: 20px;
        font-size: 0.8rem;
        margin-top: 15px;
    }

    
   
    
    
    
    }