body {
   
    height: 100%;
    margin: 0;
   background-color: rgb(243, 242, 242);
}

html {
    height: 100%;
    margin: 0;
}




/*nav bar*/

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  
    background-color: rgb(249, 249, 249);
    box-shadow: 0px 0px 3px gray;
 }

.buttons {
   float: right;
   display: flex;
   margin-left: 12%;
   margin-right: 10%;
   
   
}

.loginButton {
    padding: 12px 21px 12px 21px;
    border: 0px;
    background-color: rgb(26, 95, 243);
    cursor: pointer;
    border-radius: 10px;
    color: white;
    margin-right: 15px;
}

.signoutButton {
    padding: 12px 21px 12px 21px;
    border: 0px;
    background-color: rgb(47, 47, 47);
    cursor: pointer;
    border-radius: 10px;
    color: white;
    margin-right: 15px;
}

.signoutButton:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.signupButton {
    padding: 12px 21px 12px 21px;
    border: 0px;
    background-color: rgb(47, 47, 47);
    cursor: pointer;
    border-radius: 10px;
    color: white;
    margin-right: 15px;
}

.myaccountButton {
    padding: 12px 21px 12px 21px;
    border: 0px;
    background-color: rgb(47, 47, 47);
    cursor: pointer;
    border-radius: 10px;
    color: white;
   
}

.myaccountButton:hover {
    opacity: 0.7; 
    transition: opacity 0.3s;
}

.loginButton:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.signupButton:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

#search-bar {
    border-radius: 60px;
    border: 1px solid rgb(148, 148, 148);
    width: 350%;
    padding: 10px 10px 10px 40px;
    padding-left: 8px;
    box-sizing: border-box;
    text-decoration: none;
}

.logoText {
  
    
    margin-left: 140%;
     font-size: 1.6rem;
     color: rgb(0, 0, 0);
     font-weight: 530;
     font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     
  }




     /*Header elements*/

.header {
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 380;
    font-size: 3.2rem;
    margin-top: 3%;
}

.headerText h3 {
    color: rgb(81, 81, 81);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    font-weight: normal;
    opacity: 0.8;
}

.loginButtonHeader {
    padding: 17.5px 46px 17.5px 46px;
    border: 0px;
    background-color: rgb(47, 47, 47);
    cursor: pointer;
    border-radius: 10px;
    color: white;
    margin-top: 1.5%;
    font-size: 1.1rem;
}

.signupHeader {
    padding: 16.5px 40px 16.5px 40px;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    margin-top: 1.5%;
    font-size: 1.1rem;
}

.addTaskHeader:hover {
    opacity: 0.7;
    transition: opacity 0.3s;
}

.signupHeader:hover {
     opacity: 0.7;
    transition: opacity 0.3s;
}






    /*tasklist*/

.container {
    height: 100%;
    width: 100%;
    background-color: rgb(249, 249, 249);
    box-shadow: 5px 5px 8px;
    margin-top: 5.5%;
    
}

.inhoud {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding-top: 2%;
}

    #input {
        padding-right: 18%;
        padding-top: 1%;
        padding-bottom: 1%;
        border-radius: 10px;
        padding-left: 1%;
        border: 1px solid rgb(26, 95, 243);
    }

    .input::placeholder {
        font-size: 1.1rem;
    }

 .addTaskButton {
    margin-left: 1%;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 0.85%;
    padding-bottom: 0.85%;
    border-radius: 10px;
    color: white;
    background-color: rgb(26, 95, 243);
    border: 2px solid rgb(26, 95, 243);
   transition: opacity 0.3s ease;
   font-size: 1.1rem;
   cursor: pointer;
 }

 .addTaskButton:hover {
    opacity: 0.7;
 }

 #taskList {
    text-align: center;
    list-style-type: none;
    padding-top: 2%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-right: 0;
    padding-left: 0;
   
   }

#taskList li {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}



 .tasksBackground {
    background-color: rgb(255, 255, 255);
    height: 82.5%;
    width: 32%;
    margin: auto;
    border-radius: 10px 10px 10px 10px;

   
 }








@media only screen and (max-width: 1250px) {
    #search-bar {
        width: 180%;
    }

    .logoText {
        margin-left: 50%;
    }

    .buttons {
        margin-right: 5%;
    }
}

@media only screen and (max-width: 750px) {
    #search-bar {
        width: 100%;
        margin-left: 38%;
    }
}


 @media only screen and (min-width: 2500px) {
    .tasksBackground {
        height: 73.5%;
    }
 }


 /*responsive voor mobiel*/

 @media only screen and (max-width: 600px) {
    .loginButton{
        padding: 9px 11px 9px 11px;
    font-size: 0.7rem;
    margin-right: 5px;
    margin-left: -37px;
   
    }
    .signoutButton{
        padding: 9px 11px 9px 11px;
        font-size: 0.7rem;
        margin-right: 5px;
       
    }
    
    .signupButton{
        padding: 9px 11px 9px 11px;
        font-size: 0.7rem;
        margin-right: 5px;
        
    }
    
    .myaccountButton{
        padding: 9px 11px 9px 11px;
        font-size: 0.7rem;
       
       
    }

    .buttons {
        margin-right: 40px;
    }

    .logoText {
        margin-left: 10px;
        
    }

    .tasksBackground {
        width: 90%;
    }

    .headerText {
        font-size: 1.9rem;
        margin-top: 30px;
        font-weight: 500;
    }
    
    .addTaskButton {
        padding-top: 2px;
        padding-bottom: 2px;
        font-size: 0.9rem;
        border-radius: 9px;

    }

    .loginButtonHeader {
        font-size: 0.9rem;
        padding-top: 12px;
        padding-bottom: 12px;
        padding-left: 26px;
        padding-right: 26px;

    }

    .signupHeader {
        padding-top: 11px;
        padding-bottom: 11.2px;
        padding-left: 22px;
        padding-right: 22px;
        font-size: 0.9rem;
    }

    .headerButtons {
        margin-top: -3%;
        padding-bottom: 30px;
    }

   #taskList {
    padding-left: 7px;
   }

   #input {
    padding-left: 8px;
    padding-top: 3.5px;
    padding-bottom: 3.5px;
   }

   .headerText h3 {
    font-size: 0.9rem;
   }

}

 